
@{
    ViewBag.Title = "Carrito";
}


<div class="card">
    <div>
        <h1>Carrito - Productos añadidas</h1>
    </div>
    <div class="productGrid">
        @foreach (var producto in ViewBag.Productos)
        {
            <div class="card">
                <h1>@producto.nombre</h1>
                <label class="marca">@producto.marca</label>
                <p class="price">RD$@producto.precio</p>
            </div>
        }
    </div>
    <form method="post" action="@Url.Action("CarritoComprar","Home") ">
        <button type="submit">
            COMPRAR
            <i class="fa fa-plus-circle fa-lg icon"></i>
        </button>
    </form>
    <div class="resumen">


    </div>


</div>

<div>
    <h1>
        Resumen
    </h1>
    <ul>
        <li>Precio Total: @ViewData["preciosTotales"]</li>
        <li>Cantidad de productos: @ViewData["cantidadCompra"]</li>
        <li>Peso Total: @ViewData["pesoTotal"]</li>
    </ul>
</div>
