
@{
    ViewBag.Title = "CuentasPorCobrar";
}

<h2 class="cuentas-pendiente">Cuentas Por Cobrar</h2>


<table class="tabla">
    <thead>
        <tr>
            <th class="columna">Nombres</th>
            <th class="columna">Apellidos</th>
            <th class="columna">Producto</th>
            <th class="columna">Total</th>
            <th class="columna">ID</th>
            <th class="columna">Sucursal</th>
            <th class="columna">Fecha de compra</th>
            <th class="columna">Cédula</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cuenta in @ViewBag.CuentasPorCobrar)
        {
        <tr>
            <td>@cuenta.Nombres</td>
            <td>@cuenta.Apellidos</td>
            <td>@cuenta.Producto</td>
            <td>@cuenta.Total</td>
            <td>@cuenta.cuentaID</td>
            <td>@cuenta.sucursal</td>
            <td>@cuenta.fechaCompra</td>
            <td>@cuenta.Cedula</td>
        </tr>
        }
    </tbody>
</table>